/* CSS Document */

#main-nav{
	word-spacing: 80px;
	font-size: 50px;
	text-align: right;
	padding-right: 10px;
}
#site-logo{
	float: left;
}
#welcome{
	text-align: center;
}
#nav-welcome{
	background-color: gray;
	color: white;
	}

#main-content{
	display: flex;
	gap:300px;
	padding-left: 15px;
	background-color: burlywood;
	}

#vision{	
border-radius: 50px;
	border-color: aqua;
}
#foot{
	
	height: 80px;
	padding-left: 20px;
	background-color: black;
	color: aliceblue;
}
